@font-face {
    font-family: MinecraftTen;
    src: url(fonts/MinecraftTen.ttf);
}
@font-face {
    font-family: MinecraftFive-Regular;
    src: url(fonts/MinecraftFive-Regular.ttf);
}
@font-face {
    font-family: MinecraftFive-Bold;
    src: url(fonts/MinecraftFive-Bold.ttf);
}
@font-face {
    font-family: MinecraftSeven;
    src: url(fonts/MinecraftSeven.ttf);
}
p {
    font-family: MinecraftSeven;
    font-size: large;
}
h1 {
    font-family: MinecraftTen;
    font-size: 55px;
}
body {
    background-image: url(files/main_background.png);
    backdrop-filter: blur(5px);
    color: white;
}
ol {
    font-family: MinecraftFive-Regular;
}
h2 {
    color: yellow;
    font-family: MinecraftSeven;
}
h3 {
    font-family: MinecraftFive-Regular;
    font-size: 40px;
}